body {
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #343a40;
}
.navbar a {
    color: green;
}
.form-control {
    border-radius: 0;
}

#navbar styles
.sticky-top {
    margin-bottom: 20px; /* Space below the sticky navbar */
    padding: 0 1rem; /* Padding around the navbar content */
}

.navbar {
    font-family: 'Roboto', sans-serif;
}
.navbar-brand img {
    margin-right: 10px;
}
.navbar-brand {
    font-weight: 500;
}
.navbar-brand span {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-link {
    margin: 0 15px;
    font-weight: 400;
    color: #333; /* Default text color */
}
.nav-link:hover {
    color: #007bff; /* Hover color */
}

.form-inline .form-control {
    width: 250px;
}

.nav-item.dropdown .dropdown-menu {
    left: auto;
    right: 0;
}

.dropdown-menu a {
    color: #000;
    background-color: #ffffff; /* Background color */
    padding: 0.5rem 0.5rem;
}

.dropdown-menu a:hover {
    background-color: #f8f9fa;
}
.dropdown-item {
    color: #311; /* Text color */
    padding: 1rem 1rem; /* Padding */
}

.dropdown-item:hover {
    background-color: #f8f9fa; /* Hover background color */
    color: #017bff; /* Hover text color */
    text-decoration: none; /* Remove underline */
}

.navbar .btn-primary {
    margin-left: 10px;
}
.navbar-nav .nav-item .dropdown-toggle {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item .dropdown-toggle img {
    margin-right: 10px; /* Adjust space between image and username */
}

#update_user styles
.update-user-container {
    width: 500px; /* Adjust width as needed */
    margin-top: 20px; /* Space above the form */
    margin-bottom: 20px;
    padding: 20px; /* Padding inside the container */
    background-color: #B0E0E6; /* Background color of the form */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    }
    * Form Heading */
    .update-user-container h2 {
        margin-bottom: 20px; /* Space below the heading */
        font-family: 'Roboto', sans-serif; /* Custom font */
    }
    .update-user-container .form-group {
        margin-bottom: 10px; /* Space between form fields */
        margin-top: 5px;
    }

    /* Form Control */
    .update-user-container .form-control{
        border-radius: 4px; /* Rounded corners for input fields */
        background-color: #FFFAFA; /* Background color of the form */

    }
    /* Buttons */
    .update-user-container .btn {
        border-radius: 4px; /* Rounded corners for buttons */
        padding: 10px 20px; /* Padding inside the button */
    }

    .update-user-container .btn-primary {
        background-color: #007bff; /* Primary button color */
        border: none; /* Remove default border */
        margin-top:10px;
    }

    .update-user-container .btn-primary:hover {
        background-color: #0056b3; /* Darker color on hover */
    }

    .update-user-container .btn-secondary {
        background-color: #6c757d; /* Secondary button color */
        border: none; /* Remove default border */
        margin-bottom:10px;
    }

    .update-user-container .btn-secondary:hover {
        background-color: #5a6268; /* Darker color on hover */
    }

#meeting page styles
