<div class="object" style="text-align: center; letter-spacing: 10px; color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; font-family: cursive;">
    <h1>{{ heading }}</h1>
</div>
<br>
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-inner">
        {% for category in categories %}
        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" id="slide{{ forloop.counter }}">
            <img src="{{ category.picture }}" class="d-block" style="width:100%">
            <div class="carousel-caption d-none d-md-block">
                <h1 style="color: white; text-shadow: 1px 1px 2px black, 10px 10px 35px green; font-family: cursive;">
                    {{ category.heading }}</h1>
                <a href="{{ request.path }}?q={{ category.heading }}" style="text-decoration: none;" >
                    Explore your community </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br>
