
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-left:10%;">
    {% for topic in topics %}
    <div class="col">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">{{ topic.name }}</h5>
                <p class="card-text">{{ topic.content |slice:":200" }}</p>

                {% if request.user.is_authenticated %}

                    <a href="#" class="btn btn-success">See more</a>
                    {% if topic in request.user.topics.all %}
                        <a href="{% url 'delete' topic.id %}" class="btn btn-success">Delete</a>
                    {% else %}
                        <a href="{% url 'add' topic.id %}" class="btn btn-success">Add</a>
                    {% endif %}
                {% endif %}

            </div>
        </div>
        <br>
    </div>
    {% endfor %}
</div>
